* {
    padding:0;
    margin:0;
    font-family: 'Quicksand', verdana;
    color:black;
}
header{
    height:75px;
}
header h1{
    display: inline-block;
    float: left;
    padding:17px 25px;
}
header h1 a{
    transition: 0.5s;
}
header h1 a:hover{
    color:brown;
}
header ul{
    float: right;
}
header ul li{
    padding:26px;
    display: inline-block;
}
header ul li a{
    transition: 0.5s;
}
header ul li a:hover{
    color:brown;
}
a {
    text-decoration: none;
}
.container{
    width:95%;
    margin:0 auto;
}
.container::after{
    content: '';
    display: block;
    clear: both;
}
.mobile-menu{
    float: right;
    display: none;
    padding:20px;
}
.mobile-menu:hover{
    cursor: pointer;
}
#check{
    display: none;
}
.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color: rgba(182, 30, 76, 0.871);
    transition: 0.5s;
    z-index: 9999;
}
.sidebar ul li a{
    color:azure;
}
.sidebar ul li{
    padding: 25px;
    transition: 0.5s;
}
.sidebar ul li:hover{
    background-color:black;
}
#check:checked ~ .sidebar{
    left: 0;
}
.banner{
    background-color: #5d333f;
    padding:150px 0;
}
section{
    padding:50px 0;
}
.banner img{
    width: 150px;
    border-radius: 10px;
    box-shadow: 0 3px 5px #ddd;
    margin-bottom: 15px;
}
.banner h2,
.banner p,
.banner span{
    color:azure;
}
.banner h2{
    margin-bottom: 15px;
}
.banner p{
    font-size: 19px;
}
.banner-left{
    padding-left: 25px;
}
section h3{
    padding-bottom: 19px;
    text-align: center;
    margin:19px;
    position: relative;
}
section h3::before{
    content:'';
    display: block;
    position: absolute;
    bottom: 0;
    width: 130px;
    height:1px;
    background-color:#ddd;
    left: 45%;
}
section h3::after{
    content:'';
    display: block;
    position: absolute;
    bottom: 0;
    width: 50px;
    height:5px;
    background-color:#C70039;
    left: 48%;
}
#about p{
    text-align: justify;
    text-indent: 35px;
    line-height: 30px;
}
#skills,
#contact{
    background-color:#f9f9f9;
}
#skills .bar{
    height: 35px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin: 5px 0 20px 0;
}
.bar .nilai{
    height: 35px;
    background-color:grey;
    display: inline-block;
    color:#f9f9f9;
    text-align: center;
}
.futsal{
    width: 1243px;
}
.bulutangkis{
    width: 1083px;
}
.voli{
    width: 923px;
}
.basket{
    width: 823px;
}
.col-4{
    width:24%;
    box-sizing: border-box;
    padding: 5px;
    float: left;
    text-align: center;
}
.col-4 img{
    width: 100%;
}
.col-4 a:hover img{
    transform: scale(1.1);
}
.col-3{
    width:33.3%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    padding: 60px 10px;
}
.col-3 h4{
    padding-bottom:10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}
footer{
    background-color: black;
    padding: 30px;
    text-align: center;
}
footer small{
    color:azure;
}
html{
    scroll-behavior: smooth;
}

@media (max-width: 769px){
    .mobile-menu{
        display: block;
    }
    header ul{
        display: none;
    }
    .col-4{
        width: 100%;
    }
    .col-3{
        width:150%;
    }
}